@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
:root {
  --blue: #1510eb;
  --black: #111;
  --white: #ffff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--blue);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}
.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.header span {
  color: var(--blue);
}
.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: var(--blue);
}
.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
}
.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}
.header #menu-btn {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  .header section {
    padding: 3rem 5%;
  }
}
@media (max-width: 1200px) and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: none;
  }
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navbar a {
    display: block;
    margin: 2rem;
  }
}
@media (max-width: 1200px) and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rga(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--white);
  color: var(--black);
  text-align: center;
  margin-bottom: 0.5rem;
}
.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
}

.hero {
  padding: 0;
}
.hero .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.hero .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}
.hero .slide .content {
  width: 50rem;
  position: relative;
}
.hero .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}
.hero .slide .content p {
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
  line-height: 2;
  padding: 1rem 0;
}
.hero .swiper-button-next,
.hero .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 3rem;
  background: var(--black);
}
.hero .swiper-button-next:hover,
.hero .swiper-button-prev:hover {
  background: var(--blue);
}
.hero .swiper-button-next::after,
.hero .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--white);
}
.hero .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row .video video {
  width: 100%;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
  padding: 1rem 0;
}/*# sourceMappingURL=style.css.map */