@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
:root {
  --blue: #1510eb;
  --black: #111;
  --white: #ffff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--blue);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.btn:hover {
  background: var(--blue);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}
.header .logo img {
  width: 150px;
  height: auto;
}
.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: var(--blue);
}
.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
}
.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}
.header #menu-btn {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  .header section {
    padding: 3rem 5%;
  }
}
@media (max-width: 1200px) and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}
@media (max-width: 1200px) and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--white);
  color: var(--black);
  text-align: center;
  margin-bottom: 0.5rem;
}
.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
}

.hero {
  padding: 0;
}
.hero .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.hero .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}
.hero .slide .content {
  width: 50rem;
  position: relative;
}
.hero .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}
.hero .slide .content p {
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
  line-height: 2;
  padding: 1rem 0;
}
.hero .swiper-button-next,
.hero .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 3rem;
  background: var(--black);
}
.hero .swiper-button-next:hover,
.hero .swiper-button-prev:hover {
  background: var(--blue);
}
.hero .swiper-button-next::after,
.hero .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--white);
}
.hero .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
  box-shadow: -20px 20px 0px #1510eb;
  margin-bottom: 50px;
}
.about .row .video video {
  width: 100%;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
  padding: 1rem 0;
}


.about .box-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}
.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
}

.whatwedo {
  background: var(--light-bg);
}
.whatwedo .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.whatwedo .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-style: groove;
}
.whatwedo .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}
.whatwedo .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.projects {
  background: var(--black);
}
.projects .heading {
  color: var(--white);
}
.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.projects .box-container .box {
  cursor: initial;
}
.projects .box-container .box:hover .image img {
  transform: scale(1.1);
}
.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}
.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .box-container .box .content {
  display: flex;
  gap: 0.5rem;
  background: var(--white);
  justify-content: space-between;
}
.projects .box-container .box .content .info {
  padding: 1rem;
}
.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}
.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
}
.projects .box-container .box .content i {
  width: 6rem;
  font-size: 3rem;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.services {
  background: var(--light-bg);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.services .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.services .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-right: 50%;
  color: var(--blue);
}

.contact {
  background: var(--black);
}
.contact .heading {
  color: var(--white);
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
}
.contact .row form {
  flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: var(--border);
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}
.contact .row form .box:focus {
  border-color: var(--blue);
}
.contact .row form .box textarea {
  height: 15rem;
  resize: none;
}

.fposts .slide {
  width: 35rem;
  text-align: center;
}
.fposts .slide:hover .image img {
  transform: scale(1.1);
}
.fposts .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}
.fposts .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fposts .slide .content {
  padding: 2rem;
  padding-top: 4rem;
  background: var(--white);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}
.fposts .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.fposts .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
}

footer {
  text-align: center;
}
footer .credit {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
}
footer .credit span {
  color: var(--blue);
}/*# sourceMappingURL=style.css.map */