@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;600&family=Nunito:wght@200;400;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap");

:root {
  --blue: #1510eb;
  --black: #111;
  --white: #ffff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}

@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  text-transform: capitalize;
  line-height: 2;
}

@mixin iconsBox() {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--blue);
  }
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  @include titleText(3rem);
  padding-left: 1rem;
  border-left: 1rem solid var(--blue);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;

  &:hover {
    background: var(--blue);
    //color: var(--whte);
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);

  // .logo{
  //   position: sticky;
  //   width: 160px;
  //   height: 200px;
  //   //overflow: hidden;
  // }

  .logo img {
    width: 150px;
    height: auto;
    //margin: -50px 0 0 -100px;
  }

  .navbar a {
    @include titleText(2rem);
    margin: 0 1rem;

    &:hover {
      color: var(--blue);
    }
  }

  .icons div {
    @include iconsBox();
    margin-left: 0.3rem;
  }
  #menu-btn {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;

    section {
      padding: 3rem 5%;
    }
  }

  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    section {
      padding: 3rem 2rem;
    }
    .header {
      #menu-btn {
        display: inline-block;
      }

      .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        a {
          display: block;
          margin: 2rem;
        }
      }
    }
  }
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;

  &.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
  }

  #close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);

    &:hover {
      transform: rotate(90deg);
    }
  }

  .info {
    padding: 2rem 0;
    i {
      height: 5rem;
      width: 5rem;
      line-height: 5rem;
      font-size: 2rem;
      background: var(--white);
      color: var(--black);
      text-align: center;
      margin-bottom: 0.5rem;
    }

    h3 {
      @include titleText(2rem);
      padding: 1rem 0;
    }
    p {
      @include graphText(1.5rem);
    }
  }
}

.hero {
  padding: 0;

  .slide {
    min-height: 60rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-position: center !important;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, var(--white), transparent);
    }

    .content {
      width: 50rem;
      position: relative;

      h3 {
        @include titleText(6rem);
        text-transform: uppercase;
      }

      p {
        @include graphText(1.6rem);
        line-height: 2;
        padding: 1rem 0;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    font-size: 3rem;
    background: var(--black);

    &:hover {
      background: var(--blue);
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem;
    color: var(--white);
  }

  .swiper-button-prev {
    right: 7rem;
  }
}

.about {
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 50px;
    margin-bottom: 150px;
    .video {
      flex: 1 1 41rem;
      //background: blue;
      box-shadow: -20px 20px 0px #1510eb;

      video {
        width: 100%;
      }
    }
    .content {
      flex: 1 1 41rem;
      h3 {
        @include titleText(3.5rem);
      }
      p {
        @include graphText(1.5rem);
        padding: 1rem 0;
      }
    }
  }

  .row-pic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem 2rem;
    margin-top: 50px;
    margin-bottom: 150px;
    .pic {
      flex: 1 1 41rem;
      overflow: hidden;
      //background: blue;
      box-shadow: 20px 20px 0px #1510eb;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .humanity {
      flex: 1 1 41rem;
      h3 {
        @include titleText(3.5rem);
      }
      p {
        @include graphText(1.5rem);
        padding: 1rem 0;
      }
    }
  }
  .box-container {
    margin-top: 3rem;
    @include grid(16rem);

    .box {
      text-align: center;
      background: var(--light-bg);
      padding: 3rem 2rem;

      h3 {
        @include titleText(4rem);
      }
      p {
        @include graphText(1.5rem);
      }
    }
  }
}

.whatwedo {
  background: var(--light-bg);

  .box-container {
    pointer-events: none;
    @include grid(25rem);
    .box {
      text-align: center;
      padding: 3rem;
      background: var(--white);
      box-shadow: var(--box-shadow);
      border-style: groove;

      img {
        height: 10rem;
        margin-bottom: 1rem;
      }
      h3 {
        @include titleText(2rem);
        padding: 1rem 0;
      }
    }
  }
}

.projects {
  background: var(--black);
  .heading {
    color: var(--white);
  }

  .box-container {
    @include grid(25rem);
    .box {
      cursor: initial;
      &:hover .image img {
        transform: scale(1.1);
      }
      .image {
        height: 40rem;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          background-repeat: no-repeat;
        }
      }
      .content {
        display: flex;
        gap: 0.5rem;
        background: var(--white);
        justify-content: space-between;

        .info {
          padding: 1rem;

          h3 {
            @include titleText(1.7rem);
          }
          p {
            @include graphText(1.5rem);
          }
        }
        i {
          width: 6rem;
          font-size: 3rem;
          background: var(--blue);
          color: var(--white);
          cursor: pointer;
          text-align: center;
          line-height: 7.5rem;
        }
      }
    }
  }
}

.services {
  background: var(--light-bg);

  .box-container {
    @include grid(30rem);

    .box {
      background: var(--white);
      text-align: center;
      padding: 2rem;
      border: var(--border);
      box-shadow: var(--box-shadow);

      i {
        font-size: 8rem;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
        border-right: 50%;
        margin-bottom: 1rem;
        color: var(--blue);
      }

      h3 {
        @include titleText(1.7rem);
        font-weight: normal;
        padding: 0.5rem 0;
      }
      .service {
        padding: 1rem 0;
        @include titleText(5rem);
        .span {
          font-size: 2rem;
        }
      }
      .list {
        padding: 1rem 0;

        p {
          padding: 1rem 0;
          @include graphText(1.4rem);
        }
      }
    }
  }
}

.contact {
  background: var(--black);
  .heading {
    color: var(--white);
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    .map {
      flex: 1 1 41rem;
      width: 100%;
    }

    form {
      flex: 1 1 41rem;
      background: var(--white);
      padding: 2rem;

      h3 {
        @include titleText(2.5rem);
        padding-bottom: 1rem;
      }

      .box {
        margin: 0.7rem 0;
        width: 100%;
        padding: 1.5rem 0;
        border-bottom: var(--border);
        padding: 1.2rem 1.4rem;
        background: var(--light-bg);
        font-size: 1.6rem;
        color: var(--light-color);

        &:focus {
          border-color: var(--blue);
        }
        textarea {
          height: 15rem;
          resize: none;
        }
      }
    }
  }
}

.fposts {
  .slide {
    width: 35rem;
    text-align: center;

    &:hover .image img {
      transform: scale(1.1);
    }

    .image {
      height: 25rem;
      width: 90%;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: -3rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .content {
      padding: 2rem;
      padding-top: 4rem;
      background: var(--white);
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);

      h3 {
        @include titleText(2rem);
      }

      p {
        padding: 1rem 0;
        @include graphText(1.4rem);
      }
    }
  }
}

.client-container {
  //background: var(--light-bg);
  text-align: center;
  overflow: hidden;
  padding: 60px 0 0 0;
  img {
    height: 10rem;
    margin: 0 60px;
    pointer-events: none;
  }
}

.credits {
  @include titleText(2rem);
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;

  span {
    color: var(--blue);
  }
}
